<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HdrStacker">

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HdrStacker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HDR feature (unchanged); now launched from HomeActivity. -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="HDR Stacker"
            android:theme="@style/Theme.HdrStacker" />

        <!-- Stage 1: panorama stitching. -->
        <activity
            android:name=".panorama.PanoramaActivity"
            android:exported="false"
            android:label="Panorama Stitcher"
            android:theme="@style/Theme.HdrStacker" />

    </application>

</manifest>
